.weekly-special {
  padding-top: 8rem;
  .weekly-special-heading {
    &::first-letter {
      font-size: 3rem;
      color: lightpink;
    }
  }
}

.category-tab {
  padding-bottom: 14rem;
}

.category-tab-heading {
  margin: 8rem 0 3rem 0;
  &::first-letter {
    font-size: 3rem;
    color: limegreen;
  }
}
