@import "./pages/homePage";
@import "./pages/productsPage";
@import "./pages/individualProductPage";
@import "./pages/cartPage";
@import "./pages/checkoutPage";
@import "./pages/blogPage";

@import "./components/common/header";
@import "./components/common/footer";
@import "./components/common/subscription";

@import "./helpers/utilityClasses";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

.body {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

@media (max-width: 1200px) {
  body,
  html {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  body,
  html {
    font-size: 8px;
  }
}
